html {
    height: 100%;
    min-height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Hide default accordion arrow */     
details summary { list-style-type: none; } /* Firefox */
details summary::-webkit-details-marker { display: none; } /* Chrome */
details summary::marker { display: none; }
/* Closed accordion arrow */
summary:before {
   content: " ";
   border: solid #666666;
   border-width: 0 2px 2px 0;
   padding: 0 5px 5px 0;
   transform: rotate(45deg);
   float: right;
}
/* Opened accordion arrow */
details[open] summary::before { transform: rotate(225deg); }